button{
    width: 100px;
    height:30px;
    border-radius: 4px;
    margin:50px;
}
.on{
    color:#000;
    background-color: rgb(247, 0, 0);
}
.off{
    color:#888;
    background-color: white;
}

div{
    background-color: rgb(194, 194, 194);
    color: rgb(44, 61, 44);
    border-color: #000;
    border-width: 10px;
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
}